<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>The Grey</title>
    <link rel="stylesheet" href="../../../stylesheets/styles.css">
    <link rel="stylesheet" href="../../../stylesheets/pygment_trac.css">
    <script src="../../../javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
    <div class="wrapper">
		<header>
			<h1 class="header">Functions</h1>
			<a href="../../../index.html"><p class="header">Home</p></a>
			<ul>
			  {% for post in site.posts %}
			    <li>
			      <a href="{{ post.url }}">{{ post.title }}</a>
			    </li>
			  {% endfor %}
			  <li><a class="buttons github" href="https://github.com/greyes1">GitHub Profile</a></li>
			</ul>
			<a name="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages"><span class="octicon octicon-link"></span></a>
		</header>
	<section>
