<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <section>
    <mat-card>
      <mat-card-title-group>
        <mat-card-title>
          Hello World!
        </mat-card-title>
        <mat-card-subtitle>
          Welcome to {{ title }}!
        </mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        <p>
          This site is being built using Angular and Material Design
        </p>
        <p>
          Thursday. What a concept.
        </p>
      </mat-card-content>
    </mat-card>
  </section>
<router-outlet></router-outlet>
